*{
    background-color:  #e5f1e3;
    color: #a3cd9e ;
    font-family: 'Prata', serif;
}
body{
    margin: 0;
}
button{
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

/* Main */

#homeBttn{
    position: static;
    border-radius: 3%;
    margin: 1%;
    font-size: 25px;
    background-color: #35635b;
    text-decoration: none;
    padding: .5%;
    border: solid #35635b
}

#homeBttn:hover{
    border: solid #a3cd9e ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1%;
    background-color: #35635b;
    border-bottom: solid #529471 ;
    height: 4%;
}
#searchBar{
    margin-right: 5%;
    font-size: 25px;
    background-color: #e5f1e3;
    color: #529471;
    border-color: #529471;
    border-radius: 2%;
    border-style: inset;
}

.searchOff{
    display: none;
}

#containerContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    padding-bottom: 10%;
}


.textContainer{
    padding: 7%;
    background-color: #35635b;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.puppyContainer{
    border-radius: 3%;
    border: solid #a3cd9e;
    border-color: #529471;
    background-color: #35635b;
    margin: 5%;
    margin-bottom: 1%;
    padding: 1%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
/* on hover */
.puppyContainer:hover{  
    box-shadow: 10px 10px black;
}

.puppyPic{
    border-radius: 3%;
    border:solid  black;
    height: 300px;
    width: 200px;
    object-fit: cover;
}
.puppyName{
    margin: 0;
    background-color: #35635b;
    text-decoration: none;
}


/* Detail */

.detailContainer{
    padding: 4%;
    margin: 5%;
    display: flex;
    background-color: #35635b;
    justify-content: space-around;
    border-radius: 1%;
    border: 15px solid #a3cd9e;
    border-color: #529471;
    margin-bottom: 0;
}

.detailPic{
    object-fit: cover;
    width: 400px;
    height: 600px;
    border-radius: 3%;
    border:solid  black;
}

.detailText{
    font-size: 2em;
    width: 50%;
    background-color: inherit;
}

.detailData{
    font-weight: bold;
}

p{
    background-color: inherit;
}

span{
    background-color: inherit;
}

/* forms */
#formContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: .5%;
    border: solid #529471 10px;
    background-color: #35635b;
    font-size: 25px;
    padding: 1%;
    width: 75%;
    height: 20%;
    margin: 5%;
}

form{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
    font-size: 25px;
}

.formInput{
    font-size: 25px;
    margin: 1%;
}

.formBttn{
    font-size: 25px;
    margin: 2%;
    background-color: #35635b;
    text-decoration: none;
    padding: 1%;
    border: solid #35635b
}

.formBttn:hover{
    border: solid #a3cd9e ;
    cursor:pointer;
}

.errorMessage{
    color: red;
    border-color: red;
}
.errorMessage:hover{
    color: red;
    border-color: red;
}

#createForm{
    border-bottom: solid #529471 ;
    margin-bottom: 3%;
}

#deleteBttn{
    padding: 2%;
    margin: 5%
}

a{background-color: inherit;}

#detailDelete{
    font-size: 1em;
}



/* mobile formatting */
@media (max-width: 800px) {
    
    #containerContainer {
        padding-top: 8%;
      flex-direction: column;
    }
    #homeBttn{
        padding: 0;
        font-size: 20px;
    }

    .detailContainer{
        margin-top: 15%;
        margin-bottom: 3%;
        flex-direction: column;
        font-size: .5em;
        align-items: center;
        text-align: start;
    }

    .detailPic{
        width: 200px;
        height: 300px;
    }

    .detailText{
        width: 100%;
    }
    #searchBar{
        font-size: 20px;
        width: 50%;
    }
    .formBttn{
        font-size: 20px;
    }
    .formInput {
        font-size: 20px;
    }
  }